@import "tailwindcss";

@font-face {
  font-family: "heading-font";
  src: url("../assets/fonts/headingfont.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "paragraph-font";
  src: url("../assets/fonts/paragraphfont.ttf") format("truetype");
}

@theme{
  --font-heading: "heading-font";
  --font-paragraph: "paragraph-font"
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.8;
  font-weight: 400;

  color-scheme: light dark;
  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
  width: 100%;
  height: 150dvh;
}

