@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@font-face {
  font-family: "heading-font";
  src: url("../assets/fonts/headingfont.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "paragraph-font";
  src: url("../assets/fonts/paragraphfont.ttf") format("truetype");
}

:root {
  
  line-height: 1.8;
  font-weight: 400;

  color-scheme: light dark;
  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --radius: 0.625rem;
  
}

.pixel-border{
  border: 4px solid var(--muted);
  
  box-shadow: 
    4px 0 0 0 var(--muted),
    -4px 0 0 0 var(--muted),
    0 4px 0 0 var(--muted),
    0 -4px 0 0 var(--muted);
}

.pixel-border:hover{
  border: 4px solid var(--foreground);
  
  box-shadow: 
    4px 0 0 0 var(--foreground),
    -4px 0 0 0 var(--foreground),
    0 4px 0 0 var(--foreground),
    0 -4px 0 0 var(--foreground);
}

.pixel-border-foreground{
  border: 4px solid ;
  box-shadow: 
    4px 0 0 0 slategrey,
    -4px 0 0 0 slategrey,
    0 4px 0 0 slategrey,
    0 -4px 0 0 slategrey;
}

body{
  width: 100%;
  height: 150dvh;
}

@theme inline {
  --font-heading: "heading-font";
  --font-paragraph: "paragraph-font";
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --color-navbar: var(--background);
  --color-navbar-fg:var(--foreground);
  --color-navbar-aksen:var(--aksen);
  --color-foreground:var(--foreground);
  --color-background:var(--background);
  --color-aksen:var(--aksen);
  --color-button: var(--background);
  --color-button-fg:var(--foreground);
  --color-muted:var(--muted);
  --color-hover:var(--hover);
  
}

:root{
  --background:#FFFFFF;
  --foreground:#242424;
  --aksen:#8AA624;
  --muted:#939292;
  --hover:#7a7a7a;
}

.dark {
  --background:#242424;
  --foreground:#FFFFFF;
  --aksen:#344F1F;
  --muted:#939292;
  --hover:#7a7a7a;
}



